@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald:wght@600&display=swap');

.navimg {
  /* max-width: 1216px; */
  margin-top: 53px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 600px) {
  .navimg {
    margin: auto;
    display: block;
  }
}

@media (max-width: 460px) {
  .navimg {
    margin: auto;
    display: block;
    font-size: 16px;
    padding: 16px;
  }
}

.nav_2 {
  display: flex;
  margin-left: 16px;
  gap: 40px;
  /* color: red; */
}

.st {
  display: flex;
  gap: 32px;
  align-items: center;
  color: #667085;
}

.nv_btn {
  background-color: #53389e;
  margin-right: 20px;
  margin-top: 20px;
  color: aliceblue;
  height: 44px;
  font-size: 16px;

  border-radius: 8px;
  border-color: transparent;
}
.page1 {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  /* max-width: 1216px; */
  /* gap: 24px; */
}
.img_page_2 img {
  display: none;
}
@media screen and (max-width: 600px) {
  .page1 {
    margin: auto;
    /* display: block; */
    font-size: 16px;
    padding: 16px;
  }
  .head {
    line-height: 24px;
    font-size: 20px;
    word-wrap: break-word;
    /* padding: 16px; */
    /* border: red 2px solid; */
    margin: auto;
  }
}

@media screen and (max-width: 460px) {
  .page1 {
    padding: 16px;
    /* border: red 2px solid; */
    margin: auto;
    display: block;
    font-size: 16px;
  }
  .head {
    max-width: 343px;
    line-height: 44px;
    font-size: 30px;

    /* border: red 2px solid; */
    margin: 0px;
  }
  .paragraph {
    /* border: soli red 3px; */
    width: 324px;
    line-height: 30px;
    text-align: left;
    display: block;

    padding: 24px 0px;
  }
  .img_page_1 {
    display: none;
  }
}

.head {
  /* margin-top: 183px; */
  line-height: 72px;
  font-size: 50px;
  color: #101828;
}
.content {
  max-width: 640px;
  margin-top: 78px;
  grid-area: 28px;
}
.paragraph {
  border: soli red 3px;
  color: #667085;
  /* line-height: 24px; */
  /* padding: 24px 0px; */
}
.pg1img {
  display: flex;
  height: 44px;
  width: 132px;
  gap: 10px;
  margin: 25px 0px;
  border-radius: 7px;
}

.img_page_1 {
  margin-top: 64px;
  /* border: 3px rgb(228, 134, 134) solid; */
  display: none;
  /* size: 281px 71px; */
  /* border: 2px solid red; */
  overflow: hidden;
}
.dn1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  width: 290px;
  height: 54px;
  margin-top: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;

  color: #6941c6;
}

.page2 {
  margin: 0px 0px;
  /* display: flex; */
}
.img_p2_2 {
  display: none;
}

@media screen and (min-width: 900px) {
  .img_page_1 {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .page2 {
    margin: auto;
    display: block;
    overflow: hidden;
    font-size: 16px;
    padding: 10px;
  }
}

@media screen and (max-width: 460px) {
  .page2 {
    /* border: 2px solid goldenrod; */
    width: 375px;
    height: 1098px;
    padding: 16px;
    gap: 48px;
    display: block;
  }
  .head1 {
    /* border: 2px solid rgb(135, 202, 81); */
    display: block;
    margin-top: 50px;
    /* margin: auto; */
    font-size: 18px;
  }
  .head2 {
    width: 343px;
    height: 286px;
  }
  .heilght {
    height: 88px;
  }
  .paragraph {
    height: 150px;
  }
  .head_1_style {
    max-width: 375px;
    /* height: 272px; */
    /* display: block; */
  }

  .fitmge {
    width: 343px;
    height: 116px;
    margin-top: 60px;
    /* display: block; */
    /* justify-content: space-between; */
    /* gap: 16px ;  */
  }
  .menuBtn {
    display: none;
  }

  .imgpg2 {
    padding-left: 200px;
    margin-right: 0px;
    display: flex;
    overflow: hidden;
    border-radius: 12px;
    gap: 40px;
  }

  .head1 {
    display: flex;
    gap: 20px;
  }
  .head2 {
    height: 216px;
    padding: 16px;
    align-items: center;
  }
  .fitmge {
    font-size: 20px;
    gap: 30px;
    line-height: 30px;
    /* padding-left: 16px; */
    align-items: center;
    color: #101828;
  }
  .head_1_style {
    /* display: flex; */
    max-width: 384px;
    height: 60px;
    gap: 8px;
  }
}
.page3 {
  padding: 96px 16px;
  height: 500px;
  /* display: flex; */
}
.ing {
  padding: 96px 16px;
  height: 500px;
  display: flex;
}
.page_img3 img {
  display: none;
  /* display: none; */
}

.page4 {
  display: flex;
}

@media screen and (max-width: 460px) {
  .page4 {
    /* margin-top: 50px; */
    display: block;
  }
  .imgpage4 img {
    max-width: 375px;
    display: none;
    margin: 0px;
  }
}

.blue {
  color: #6941c6;
  font-style: bold;
  line-height: 24px;
  /* margin-top: 64px; */
}

.write4 {
  line-height: 30px;
  font-size: 20px;
  /* display: flex; */
  gap: 30px;

  padding: 20px;
}
.imgpage4 {
  /* border: solid red 2px; */
  height: 500px;
  width: 575px;
  /* overflow: hidden; */
  display: flex;
}

@media screen and (max-width: 460px) {
  .page_5 {
    display: block;
  }
  .headingp4 {
    /* border: red solid 2px; */
    max-width: 343px;
  }
  .p5writing {
    /* border: red solid 2px; */
    /* width: 343px; */
    /* height: 420px; */
    /* margin-top: -10%; */
  }
  .card_p5 {
    display: block;
  }
  /* .card_1{
    display: flex;
    } */
}
.page_5 {
  display: flex;
  /* max-width: 1216px; */
  height: 727px;
  padding-left: 96px, 0px, 96px, 0px;
  /* border: solid purple 2px; */
  /* gap: 64px; */
  /* background-color: antiquewhite; */
}

.p5writing {
  /* border: solid rgb(138, 221, 196) 2px; */
  margin-top: 139px;
  padding-left: 16px;
  color: rgb(100, 72, 72);
}
.headingp4 {
  /* border: red solid 2px; */
  font-size: 48px;
  line-height: 60px;
  color: #101828;
}
.paragraph_2 {
  font-size: 20px;
  line-height: 28px;
  color: #667085;
  /* gap: 10px; */
}

.headingp5 {
  font-size: 38px;
  line-height: 60px;
  align-self: center;
  padding-left: 39px;
  color: #101828;
  gap: 16px;
}
.headingp5_2 {
  font-size: 38px;
  /* border: 2px solid red; */
  line-height: 60px;
  align-self: center;
  margin: 48px 0px;
  color: #101828;
  gap: 16px;
}
.wcn5 {
  /* border: solid rgb(75, 223, 178) 2px; */
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  padding-left: 15px;
}
.paragraph_1 {
  line-height: 24px;

  padding-left: 45px;
}

.card_p5 {
  max-width: 704px;
  height: 574px;
  /* margin-top: 29px; */
  display: flex;
  gap: 32px;
  /* border: solid rgb(9, 70, 51) 2px; */
  padding-left: 12px;
}

.card_1 {
  padding-left: 38.5px;
  border-radius: 16px;
  box-shadow: 0px 4px 6px -2px #1018280d;
  box-shadow: 0px 12px 16px -4px #1018281a;
  line-height: 24px;
  font-size: 16px;
  width: 336px;
  height: 534px;
  gap: 32px;
  margin: 32px 0px;
}

.card_2 {
  padding-left: 38.5px;
  border-radius: 16px;
  line-height: 24px;
  font-size: 16px;
  width: 336px;
  height: 574px;
  gap: 32px;
  margin: 32px 0px;
  box-shadow: 0px 4px 6px -2px #1018280d;
  box-shadow: 0px 12px 16px -4px #1018281a;
}
.crd_img {
  /* border: 2px yellow solid; */
  color: #667085;
  gap: 12px;
  display: flex;
  line-height: 24px;
}
.crd_contnt {
  width: 272px;
  margin-top: 32px;
  left: 32px;
  gap: 16px;
}
.page_6 {
  /* border: 6px rgba(24, 122, 235, 0.897) solid; */
  padding: 96px, 0px, 96px, 0px;
  display: block;
  gap: 64px;
}
.page_61 {
  /* border: 2px yellow solid; */
  /* max-width: 1280px; */
  height: 512px;
  margin-top: 96px;
  display: flex;
  justify-content: space-between;

  padding: 0px, 32px, 0px, 32px;
  display: flex;
  /* justify-content: space-between; */
  gap: 64px;
}
.con_6 {
  /* border: 2px yellow solid; */
  display: block;
  max-width: 576px;
  height: 303px;
  left: 32px;
  gap: 40px;
  margin-top: 104.5px;
  padding-left: 16px;
}
.pg_6_hd {
  gap: 8px;

  /* line-height: ; */
}
.input_style {
  /* width: 300px; */
  /* height: 18px; */
  border-radius: 8px;
  padding: 12px 14px 12px 16px;
  gap: 8px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px #1018280d;
}
.btn_6 {
  background-color: #53389e;
  color: #ffffff;
  border-radius: 8px;
  padding: 12px;
  gap: 8px;
  box-shadow: 0px 1px 2px 0px #101828;
}

.content_6_2 {
  display: flex;
  /* border: 2px yellow solid; */
  gap: 16px;
}
.p6img {
  width: 100%;
  max-width: 400px;
  /* border: 2px solid blue; */
}
.foot {
  max-width: 1100px;
  height: 376px;
}
.mobile_btn {
  display: none;
}
.menuBtn {
  background: transparent;
  border: transparent;
}
.footr_img {
  width: 100%;
}

/* new section of styling */

.service_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  font-size: 48px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.service_title {
  margin: 0;
  margin-bottom: 40px;
}

.service_form {
  display: flex;
  align-items: center;
  gap: 16px;
}
.input_style {
  width: 100%;
}
.btn_6 {
  outline: none;
  border: none;
}

.service_image {
  width: 100%;
  height: 100%;
  max-width: 516px;
}


.footer_wrapper{
  width: 100%;
  background-color:#53389E;
  margin-top:100px
}
.input_style1{
  border-radius:8px;/* stylelint-disable-line rule */
  padding:10px;
  width:100%;
  border:1px solid;
}
/* for small laptops */

@media screen and (max-width: 1000px) {
  .nav_links {
    background: red;
    display: none;
  }
  .page_6 {
    display: block;
    margin-top: 100px;
    max-width: 800px;
  }
  .p6img {
    max-width: 400px;
  }
  .foot {
    max-width: 800px;
    width: 100%;
    height: 376px;
    margin-top: 40px;
  }
  .service_wrapper {
    display: block;
    max-width: 400px;
    margin:auto;
    font-size:30px;
    margin-top:100px;
    text-align:center;
  }
  .service_form{
    max-width:342px;
    display:block
  }
  .input_style{
    width: 100%;
    padding:16px;
    padding-left:0px;
  }
  .btn_6{
    width:100%;
    margin:auto
  }
}

/* start styling for responsive medium screen */

@media screen and (max-width: 900px) {
  .nav_links {
    /* background: red; */
    display: none;
  }
  .nv_btn {
    display: none;
  }
  .mobile_btn {
    display: block;
  }
  .menuBtn {
    background: none;
    border: none;
  }
  .page1 {
    display: block;
  }
  .img_page_2 img {
    display: block;
    width: 100%;
  }

  .img_page_2 {
    display: block;
    width: 100%;
    /* border: 2px solid red; */
    max-width: 375px;
  }
  .page_5 {
    display: block;
  }
  .imgpg2 img {
    display: none;
  }
  .head1 {
    /* border: 2px solid rgb(135, 202, 81); */
    display: block;
    margin-top: 10px;
    /* margin: auto; */
    font-size: 18px;
  }
  .img_p2_2 {
    display: block;
    /* margin-top: 270px; */
    width: 100%;
    max-width: 375px;
  }

  .page3 {
    margin: auto;
    font-size: 16px;
    padding: 10px;
  }
  .ing {
    display: none;
  }
  .imgpage4 img {
    display: none;
  }
  .page_img3 img {
    max-width: 343px;
    display: none;
    /* border: 4px solid greenyellow; */
  }
  .page4 {
    /* margin: auto; */
    display: block;
    max-width: 375px;
  }

  .page_6 {
    margin-top: 300px;
    display: flex;
    max-width: 700px;
    gap: 0px;
  }
  .page_61 {
    display: block;
    max-width: 400px;
  }
  .content_6_2 {
    /* border: 6px solid green; */
    display: block;
    max-width: 343px;
    gap: 40px;
  }
  .input_style {
    max-width: 375px;
    background-color: antiquewhite;
    padding-left: 60px;
  }
  .btn_6 {
    /* border: 6px solid green; */
    max-width: 373px;
    margin-top: 20px;
    /* display: block; */
    padding-left: 90px;
    padding-right: 90px;
  }
  .p6img {
    max-width: 400px;
    width: 100%;
    /* overflow: hidden; */
  }
  .foot {
    max-width: 400px;
    height: 360px;
    margin-top: 400px;
  }

  /* .con_6{
    display: block;
    max-width: 343px;
    margin-top: 200px;
  } */
}

/* for mobile setting */

@media screen and (max-width: 700px) {
  .card_p5 {
    display: block;
    /* border: 2px solid red; */
  }
  .imgpg2 img {
    display: none;
  }

  .img_page_2 img {
    display: block;
    width: 100%;
  }

  .img_page_2 {
    display: block;
    width: 100%;
    margin-top: 200px;
    /* border: 2px solid red; */
    max-width: 375px;
  }

  .img_p2_2 {
    display: block;
    margin-top: 270px;
    width: 100%;

    max-width: 375px;
  }
  .page3 {
    margin-top: 100px;
    display: flex;
    padding-left: 0px;

    max-width: 375px;
    height: 602px;
  }
  .ing img {
    display: none;
  }
  .page_img3 img {
    max-width: 343px;
    display: block;
    /* border: 4px solid greenyellow; */
  }
  .page_6 {
    display: block;
    max-width: 375px;
    margin-top: 650px;
  }
  .page4 {
    /* margin: auto; */
    display: block;
    max-width: 375px;
  }
  .p6img {
    max-width: 330px;
  }
}
@media screen and (max-width: 460px) {
  .img_p2_2 {
    display: block;
    margin-top: 280px;
    width: 100%;
    /* padding-left: 0%; */
    max-width: 334px;
  }
  .p6img {
    max-width: 370px;
    overflow: hidden;
    margin-top: 80px;
    /* height: 300px; */
  }

  .page_6 {
    display: block;
    max-width: 375px;
    margin-top: 1100px;
  }
}
